body {
    background: #CEBABA;
}

.container {
    margin: auto;
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 142px;
    left: 0px;
    top: 0px;
    background-size: 100%;
    outline: 3px solid #000;
}

.logo {
    position: absolute;
    width: 157px;
    height: 57px;
    left: 250px;
    top: 4px;
}

.picture {
    position: fixed;
    width: 63.73px;
    height: 57px;
    left: 250px;
    top: 4px;
    background: url('../images/logo.png') no-repeat center top / cover;
}

.diamant {
    position: absolute;
    width: 88.6px;
    height: 20.23px;
    left: 318.4px;
    top: 22.39px;

    font-family: Cabin;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #246982;
}

.nav-menu {
    position: absolute;
    left: 650px;
    top: 30px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
.menu {
    backface-visibility: hidden;
}
.menu > li {
    display: inline-block;
    position: relative;
    background: #fff;
}
.menu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}
.down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
}
.menu li a:hover { color: #E6855F; }
.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
}
.menu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', serif;
}

.profile {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 1590px;
    top: 41px;

    background: url('../images/profile.png') no-repeat center top / cover;
}